#ColorGame{
	padding: 5rem 0;
	background-color: #343a40;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}



h1 {
	color: white;
}

/* SCORE KEEPER */

.winner {
    color: green;
}


