#ColorGame{
	
	background-color: #343a40;
}

section{
	padding: 5rem 0;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}


/* SCORE KEEPER */

.winner {
    color: green;
}

.selected {
	background-color: blue;	
}


